# Auto detect text files and perform LF normalization
* text=auto


# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.hex binary
*.zip binary
*.epf binary
*.deb binary

# Language detection
*.h linguist-language=C
*.c linguist-language=C
*.hex linguist-vendored=false
AstroEQ-PIC-Firmware/* linguist-vendored=false
AstroEQ-ConfigUtility/* linguist-vendored=false

# Custom for Eagle
*.brd linguist-language=Eagle
*.sch linguist-language=Eagle
*.lbr linguist-language=Eagle

*.brd linguist-detectable
*.sch linguist-detectable
*.lbr linguist-detectable
